propcache==0.3.2
pydantic_core==2.33.2
wandb==0.22.1
GitPython==3.1.45
async-timeout==5.0.1
requests==2.32.5
idna==3.10
urllib3==2.5.0
charset-normalizer==3.4.3
distlib==0.3.9
termcolor==2.4.0
pydantic==2.11.9
aiohttp==3.12.15
pillow==11.1.0
scipy==1.13.1
importlib_metadata==8.6.1
psutil==7.1.0
zipp==3.21.0
pre-commit==3.7.1
SciencePlots==2.1.1
setuptools==75.8.0
vmas==1.4.1
attrs==25.3.0
sympy==1.13.3
multidict==6.6.4
fsspec==2025.3.2
pyparsing==3.2.3
torch==2.1.0
torchrl==0.2.1
protobuf==6.32.1
click==8.1.8
certifi==2025.8.3
virtualenv==20.30.0
yarl==1.20.1
kiwisolver==1.4.7
numpy==1.26.1
torch_sparse==0.6.18
pip==25.0
tensordict==0.2.1
gym-notices==0.0.8
torch-geometric==2.6.1
contourpy==1.3.0
identify==2.6.9
gitdb==4.0.12
nodeenv==1.9.1
fonttools==4.56.0
cfgv==3.4.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
torchdiffeq==0.2.5
packaging==24.2
sentry-sdk==2.39.0
torch_scatter==2.1.2
typing_extensions==4.15.0
aiosignal==1.4.0
platformdirs==4.3.7
cycler==0.12.1
Jinja2==3.1.6
wheel==0.45.1
matplotlib==3.8.2
filelock==3.18.0
cloudpickle==3.1.1
aiohappyeyeballs==2.6.1
networkx==3.2.1
PyYAML==6.0.2
smmap==5.0.2
tqdm==4.66.1
typing-inspection==0.4.2
gym==0.26.2
annotated-types==0.7.0
eval_type_backport==0.2.2
six==1.17.0
pyglet==1.5.27
importlib_resources==6.5.2
frozenlist==1.7.0
MarkupSafe==3.0.2
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
packaging==24.2
wheel==0.43.0
zipp==3.19.2
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
